{% extends '../layout.twig' %}

{% block content %}
    <h1>ajouter categorie</h1>
    <form action="/categories" method="post">
        <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" class="form-control" placeholder="Category Name" required>
        </div>
        <div class="form-group">
            <button class="btn btn-primary"><i class="glyphicon glyphicon-save"></i> Save</button>
        </div>
    </form>
{% endblock %}